.inner {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.nav-button, #gloval-nav {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "�q���M�m�p�S Pro W3", "Hiragino Kaku Gothic Pro", "���C���I", Meiryo, Osaka, "�l�r �o�S�V�b�N", "MS PGothic", sans-serif;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
  color: black;
}
header {
  position: relative;
  top: 0;
  padding: 0;
  height: 30rem;
  width: 100%;
  color: white;
  background-image: url('http://imgcc.naver.jp/kaze/mission/USER/20121217/14/1464704/2/1920x1200x02b9bf58c34368e8410af0.jpg');
  background-position: top;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-ttl {
  font-size: 6rem;
  display: block;
  position: relative;
  margin: 60px 0 0 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-family: 'Amatic SC', cursive;
  display: block;

}

.header-sec-ttl {
  font-family: 'Amatic SC', cursive;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  display: block;

}
.header-menu {
  position: absolute;
  z-index: 1002;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;

}
.fixed {
  position: fixed;
  top: 0;
  box-shadow: 0 4px 3px -3px gray;
  padding: 15px 0 0 0;
  width: 100%;
  height: 50px;
  background-color: #F3F3F3;
}
.header-menu ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 0 10px 0;
}
.header-menu li {
  padding: 5px 40px;
  border-right: 1px solid gray;
  font-size: 1.1rem;
  display: inline-block;
  position: relative;
  margin: 0;
}
.header-menu li::after {
  border-bottom: 2px solid gray;
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: 15%;
  margin: auto;
  left: 0;
  right: 0;
  display: block;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}

.header-menu li:hover::after {
  width: 70%;
}
.header-menu a {
  font-weight: 600;
}
.header-menu li:last-child {
  border: none;
}
#page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 2.5%;
  bottom: 50px;
  background: black; /*ボタンの色*/
  opacity: 0.7;
  border-radius: 50%; /*角の丸み*/
  z-index: 1005;
}
  #page_top a {
  text-align: center;
  content: "\f102"; /*アイコン*/
  font-size: 1.5rem;
  color: white; /*アイコンの色*/
  position: absolute;
  width: 15px;
  height: 15px;
  top: 6px;
  z-index: 1005;
  right: 1px;
  left: 0px;
  margin: auto;
  text-align: center;
}
#section1 {
  background-color: #F3F3F3;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 100px 0;
}
.ttl01 {
  display: block;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-size: 3rem;
}
.section1-2c {
  position: relative;
}
.section1-text {
  display: inline-block;
  position: relative;
  margin: 40px 0 0 20px;
  padding: 0;
  width: 50%;
}
.section-img {
  display: inline-block;
  float: left;
  position: relative;
  margin: 0 0 0 13%;
  padding: 0;
  width: 300px;
  height: 250px;
  border-radius: 50%;
  text-align: center;
}
.section-img img {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#section2 {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 100px 0;
}
.ttl02 {
  display: block;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-size: 3rem;
}
.box01 {
  display: block;
  position: relative;
  background-color: #FEF5DF;
  border-radius: 10px;
  width: 76%;
  margin: 30px auto 10px auto;
  padding: 40px 0;
  text-align: center;
}
.box01-ttl {
  font-size: 2rem;
  margin: 0 0 30px 0;
  padding: 0;
  position: relative;
}
.box01-sec-ttl {
  font-size: 0.9rem;
  margin: 0 0 30px 0;
  padding: 0;
  position: relative;
}
table {
  position: relative;
  margin: 0 auto;
  width: 90%;
}
th {
  position: relative;
  margin: 0;
  padding: 0px 0;
}
td {
  position: relative;
  margin: 0;
  padding: 14px 0;
}
.box02 {
  display: inline-block;
  position: relative;
  background-color: #FEF5DF;
  border-radius: 10px;
  width: 38%;
  margin: 30px 30px;
  padding: 40px 0;
  text-align: center;
  vertical-align: top;
}
.box03 {
  display: inline-block;
  position: relative;
  background-color: #FEF5DF;
  border-radius: 10px;
  width: 33%;
  margin: 30px 30px;
  padding: 40px 0;
  text-align: center;
}
.boxes {
  text-align: center;
}
#section3 {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 100px 0 30px 0;
  background-color: #F3F3F3;
}
.ttl03 {
  display: block;
  position: relative;
  text-align: center;
  margin: 0 0 40px 0;
  padding: 0;
  letter-spacing: 1px;
  font-size: 3rem;
}
.works {
  display: block;
  position: relative;
  width: 100%;
  height: 25rem;
}
.works ul {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  white-space: nowrap;
  height: 100%;
}
.works li {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
}
.works li:hover {
  opacity: 0.8;
}
.works li img {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#section4 {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0 0 50px 0;
  background-color: #F3F3F3;
}
.ttl04 {
  display: block;
  position: relative;
  text-align: center;
  margin: 50px 0 40px 0;
  padding: 0;
  letter-spacing: 1px;
  font-size: 3rem;
}
.box04-sec-ttl {
  display: block;
  position: relative;
  text-align: center;
  margin: 0 0 40px 0;
  padding: 0;
  letter-spacing: 1px;
  font-size: 1rem;
}
.contact {
  text-align: center;
  margin: 10px 0;
}
.twitter {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: top;

}
.email {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;

}
.email a::after {
  border-bottom: 1px solid gray;
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  display: block;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}
.email a:hover::after {
  width: 100%;
}
footer {
  background-color: #333;
  padding: 20px 0;
}
.footer-menu {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer-menu ul {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0px;
  font-size: 0.9rem;
}
.footer-menu li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 10px;
  font-size: 0.7rem;
}
.footer-menu li::after {
  border-bottom: 1px solid white;
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  display: block;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}

.footer-menu li:hover::after {
  width: 75%;
}
footer a{
  color: white;
}
footer p {
  color: white;
  margin: 10px 0;
  padding: 0;
  font-size: 0.6rem;
  text-align: center;
}
